.formcss{
	padding-left:50em;
	font-family: Calibri;
}

h1{
	font-size:50pt;
}

.test{
	box-shadow: 5px 5px 15px grey;
}

.username{
	float:right;
	padding-left: 15px;
}

.firstname{
	float:right;
	padding-left: 15px;
}

.lastname{
	float:right;
	padding-left: 15px;
}

.password{
	float:right;
	padding-left: 15px;
}

.confirmpassword{
	float:right;
	padding-left: 15px;
}

.emailmessage{
	float:right;
	padding-left: 15px;
}

.menubalk{
	list-style: none;
}

.registermessage{
	color:#BA2A2A;
}
